@import "tailwindcss";

@theme {
  --animate-glow: glow 4s infinite alternate;

  @keyframes glow {
    from {
      filter: drop-shadow(0 0 10px rgba(6, 182, 212, 0.5));
    }
    to {
      filter: drop-shadow(0 0 25px rgba(236, 72, 153, 0.5));
    }
  }
}

html {
  scroll-behavior: smooth;
  background-color: #020617; /* Slate-950 */
}
